.content {
  background-image: url(../assets/materi/base-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
}

h1 {
  font-family: "Play", sans-serif;
  font-weight: 700;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  flex-direction: column;
  width: 100%;
}

.button {
  color: #386944;
  text-align: center;
  width: 40%;
  background-color: #efe0ad;
  border-radius: 20px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.buttons a {
  width: 100%;
  text-decoration: none;
  color: #386944;
}
.header-button {
  font-family: "Roboto", sans-serif;
}
