<?xml version='1.0' encoding='utf-8'?>
<widget id="lgarin211.ptk.tujuhc" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Niskala</name>
    <description>Materi Pembelajaran Penelitian Tindakan Kelas (Tim Kelas 7B)</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Materi Pembelajaran Penelitian Tindakan Kelas (Tim Kelas 7B)
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <icon src="res/rin.jpg" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="1000" />
</widget>
