body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #003366;
  /* Deep blue */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-item {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  filter: invert(100%) brightness(200%);
  /* Makes PNG icons white */
}

.navbar-item:hover {
  color: #ffcc00;
  /* Highlight color on hover */
}

.content {
  padding: 20px;
  padding-bottom: 70px;
  /* To ensure space for the navbar */
}

.top-bar{
    background-color: #003366;
    position: sticky;
    top: 0;
    z-index: 999;
}

.top-bar img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  filter: invert(100%) brightness(200%);
  /* Makes PNG icons white */
}

.quiz img{
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    filter: invert(0%) brightness(200%);
}