body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #003366,  #33adff);
  /* Deep blue */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-item {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  filter: invert(100%) brightness(200%);
  /* Makes PNG icons white */
}

.navbar-item:hover {
  color: #ffcc00;
  /* Highlight color on hover */
}

.content {
  padding: 20px;
  padding-bottom: 70px;
  /* To ensure space for the navbar */
}

.top-bar{
    background: linear-gradient(to right, #003366,  #33adff);
    position: sticky;
    top: 0;
    z-index: 999;
}

.top-bar img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  filter: invert(100%) brightness(200%);
  /* Makes PNG icons white */
}

.quiz img{
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    filter: invert(0%) brightness(200%);
}

.navbar-item.active {
  color: #33adff;
}

.navbar-item.active img {
  filter: invert(50%) sepia(100%) saturate(300%) hue-rotate(180deg) brightness(110%);
  /* Adjust filter to match the color or emphasize the active state */
}

body{
  background-color: rgb(246, 241, 241);
}
